/* Leonardo Colors */
@theme inline {
  --color-brand-red-20: #faccd5;
  --color-brand-red-40: #f499aa;
  --color-brand-red-60: #ef6680;
  --color-brand-red-70: #ec4d6b;
  --color-brand-red-80: #e93355;
  --color-brand-red-90: #e71a40;
  --color-brand-red-100: #e4002b;
  --color-primary-dark-navy-20: #d1d3d4;
  --color-primary-dark-navy-40: #a4a7aa;
  --color-primary-dark-navy-60: #767c7f;
  --color-primary-dark-navy-70: #5f666a;
  --color-primary-dark-navy-80: #495055;
  --color-primary-dark-navy-90: #323a3f;
  --color-primary-dark-navy-100: #1b242a;
  --color-primary-slate-blue-20: #d7d9db;
  --color-primary-slate-blue-40: #afb3b7;
  --color-primary-slate-blue-60: #878e92;
  --color-primary-slate-blue-70: #737b80;
  --color-primary-slate-blue-80: #5f686e;
  --color-primary-slate-blue-90: #4b555c;
  --color-primary-slate-blue-100: #37424a;
  --color-primary-steel-gray-20: #dfe1e3;
  --color-primary-steel-gray-40: #bfc3c6;
  --color-primary-steel-gray-60: #9ea6aa;
  --color-primary-steel-gray-70: #8e979c;
  --color-primary-steel-gray-80: #7e888d;
  --color-primary-steel-gray-90: #6e797f;
  --color-primary-steel-gray-100: #5e6a71;
  --color-primary-sky-gray-20: #edeeef;
  --color-primary-sky-gray-40: #dbdedf;
  --color-primary-sky-gray-60: #c9cdcf;
  --color-primary-sky-gray-70: #c0c5c7;
  --color-primary-sky-gray-80: #b7bdbf;
  --color-primary-sky-gray-90: #aeb4b7;
  --color-primary-sky-gray-100: #a5acaf;
  --color-primary-warm-gray-20: #e5e5e5;
  --color-primary-warm-gray-40: #cbcbcb;
  --color-primary-warm-gray-60: #b0b0b0;
  --color-primary-warm-gray-70: #a3a3a3;
  --color-primary-warm-gray-80: #969696;
  --color-primary-warm-gray-90: #898989;
  --color-primary-warm-gray-100: #7c7c7c;
  --color-secondary-deep-sea-20: #cce5e1;
  --color-secondary-deep-sea-40: #99cbc3;
  --color-secondary-deep-sea-60: #66b2a5;
  --color-secondary-deep-sea-70: #4da596;
  --color-secondary-deep-sea-80: #339887;
  --color-secondary-deep-sea-90: #1a8b78;
  --color-secondary-deep-sea-100: #007e69;
  --color-secondary-olive-drab-20: #e1e9d1;
  --color-secondary-olive-drab-40: #c3d3a3;
  --color-secondary-olive-drab-60: #a6bd76;
  --color-secondary-olive-drab-70: #97b25f;
  --color-secondary-olive-drab-80: #88a748;
  --color-secondary-olive-drab-90: #799c31;
  --color-secondary-olive-drab-100: #6a911a;
  --color-secondary-bitter-lemon-20: #f4f7cc;
  --color-secondary-bitter-lemon-40: #e9ee99;
  --color-secondary-bitter-lemon-60: #dfe666;
  --color-secondary-bitter-lemon-70: #d9e24d;
  --color-secondary-bitter-lemon-80: #d4dd33;
  --color-secondary-bitter-lemon-90: #ced91a;
  --color-secondary-bitter-lemon-100: #c9d500;
  --color-secondary-golden-grass-20: #f5ebcc;
  --color-secondary-golden-grass-40: #ecd799;
  --color-secondary-golden-grass-60: #e2c466;
  --color-secondary-golden-grass-70: #ddba4d;
  --color-secondary-golden-grass-80: #d9b033;
  --color-secondary-golden-grass-90: #d4a61a;
  --color-secondary-golden-grass-100: #cf9c00;
  --color-secondary-burnt-sienna-20: #f9e3db;
  --color-secondary-burnt-sienna-40: #f3c7b6;
  --color-secondary-burnt-sienna-60: #eeaa92;
  --color-secondary-burnt-sienna-70: #eb9c80;
  --color-secondary-burnt-sienna-80: #e88e6d;
  --color-secondary-burnt-sienna-90: #e5805b;
  --color-secondary-burnt-sienna-100: #e27249;
  --color-secondary-blue-chill-20: #cce9e9;
  --color-secondary-blue-chill-40: #99d2d2;
  --color-secondary-blue-chill-60: #66bcbc;
  --color-secondary-blue-chill-70: #4db1b1;
  --color-secondary-blue-chill-80: #33a5a5;
  --color-secondary-blue-chill-90: #1a9a9a;
  --color-secondary-blue-chill-100: #008f8f;
  --color-secondary-slate-blue-20: #e1e9f0;
  --color-secondary-slate-blue-40: #c4d3e0;
  --color-secondary-slate-blue-60: #a6bed1;
  --color-secondary-slate-blue-70: #97b3c9;
  --color-secondary-slate-blue-80: #89a8c1;
  --color-secondary-slate-blue-90: #7a9dba;
  --color-secondary-slate-blue-100: #6b92b2;
  --color-secondary-picton-blue-20: #d8ecf7;
  --color-secondary-picton-blue-40: #b1d9ee;
  --color-secondary-picton-blue-60: #8ac7e6;
  --color-secondary-picton-blue-70: #77bde2;
  --color-secondary-picton-blue-80: #63b4dd;
  --color-secondary-picton-blue-90: #50aad9;
  --color-secondary-picton-blue-100: #3ca1d5;
  --color-secondary-rhino-20: #d5d9e1;
  --color-secondary-rhino-40: #aab3c3;
  --color-secondary-rhino-60: #808da4;
  --color-secondary-rhino-70: #6b7a95;
  --color-secondary-rhino-80: #556786;
  --color-secondary-rhino-90: #405477;
  --color-secondary-rhino-100: #2b4168;
  --color-secondary-teal-blue-20: #ccdade;
  --color-secondary-teal-blue-40: #99b5bc;
  --color-secondary-teal-blue-60: #66909b;
  --color-secondary-teal-blue-70: #4d7e8a;
  --color-secondary-teal-blue-80: #336b79;
  --color-secondary-teal-blue-90: #1a5969;
  --color-secondary-teal-blue-100: #004658;
  --color-secondary-night-shadz-20: #ecd1da;
  --color-secondary-night-shadz-40: #d9a3b6;
  --color-secondary-night-shadz-60: #c77691;
  --color-secondary-night-shadz-70: #bd5f7f;
  --color-secondary-night-shadz-80: #b4486d;
  --color-secondary-night-shadz-90: #aa315a;
  --color-secondary-night-shadz-100: #a11a48;
  --color-secondary-tapestry-20: #f0dee5;
  --color-secondary-tapestry-40: #e1becb;
  --color-secondary-tapestry-60: #d39db2;
  --color-secondary-tapestry-70: #cb8da5;
  --color-secondary-tapestry-80: #c47d98;
  --color-secondary-tapestry-90: #bc6c8b;
  --color-secondary-tapestry-100: #b55c7e;
  --color-secondary-purple-mountain-20: #e8e2ee;
  --color-secondary-purple-mountain-40: #d1c6de;
  --color-secondary-purple-mountain-60: #bba9cd;
  --color-secondary-purple-mountain-70: #af9bc5;
  --color-secondary-purple-mountain-80: #a48dbd;
  --color-secondary-purple-mountain-90: #987eb4;
  --color-secondary-purple-mountain-100: #8d70ac;
  --color-secondary-royal-purple-20: #ddd3e4;
  --color-secondary-royal-purple-40: #bba7c8;
  --color-secondary-royal-purple-60: #987bad;
  --color-secondary-royal-purple-70: #87659f;
  --color-secondary-royal-purple-80: #764f91;
  --color-secondary-royal-purple-90: #653984;
  --color-secondary-royal-purple-100: #542376;
  --color-secondary-grape-20: #d7d2dc;
  --color-secondary-grape-40: #afa5b9;
  --color-secondary-grape-60: #877795;
  --color-secondary-grape-70: #736184;
  --color-secondary-grape-80: #5f4a72;
  --color-secondary-grape-90: #4b3461;
  --color-secondary-grape-100: #371d4f;
  --color-secondary-congress-blue-20: #d2dbe9;
  --color-secondary-congress-blue-40: #a5b7d3;
  --color-secondary-congress-blue-60: #7993bd;
  --color-secondary-congress-blue-70: #6281b2;
  --color-secondary-congress-blue-80: #4c6fa7;
  --color-secondary-congress-blue-90: #355d9c;
  --color-secondary-congress-blue-100: #1f4b91;
  --color-secondary-soft-mauve-20: #ede8f3;
  --color-secondary-soft-mauve-40: #dbd2e7;
  --color-secondary-soft-mauve-60: #c9bbda;
  --color-secondary-soft-mauve-70: #c0b0d4;
  --color-secondary-soft-mauve-80: #b7a5ce;
  --color-secondary-soft-mauve-90: #ae99c8;
  --color-secondary-soft-mauve-100: #a58ec2;
  --color-secondary-wild-blue-20: #e8eff4;
  --color-secondary-wild-blue-40: #d1e0ea;
  --color-secondary-wild-blue-60: #b9d0df;
  --color-secondary-wild-blue-70: #aec8da;
  --color-secondary-wild-blue-80: #a2c1d5;
  --color-secondary-wild-blue-90: #97b9cf;
  --color-secondary-wild-blue-100: #8bb1ca;
  --color-secondary-casal-20: #d9dfe0;
  --color-secondary-casal-40: #b2bec1;
  --color-secondary-casal-60: #8c9ea2;
  --color-secondary-casal-70: #798e93;
  --color-secondary-casal-80: #657d83;
  --color-secondary-casal-90: #526d74;
  --color-secondary-casal-100: #3f5d64;
  --color-secondary-breaker-bay-20: #e0edee;
  --color-secondary-breaker-bay-40: #c0dcdc;
  --color-secondary-breaker-bay-60: #a1cacb;
  --color-secondary-breaker-bay-70: #91c1c2;
  --color-secondary-breaker-bay-80: #81b9b9;
  --color-secondary-breaker-bay-90: #72b0b1;
  --color-secondary-breaker-bay-100: #62a7a8;
  --color-secondary-sea-mist-20: #f2f7f5;
  --color-secondary-sea-mist-40: #e5efea;
  --color-secondary-sea-mist-60: #d9e7e0;
  --color-secondary-sea-mist-70: #d2e3db;
  --color-secondary-sea-mist-80: #ccdfd5;
  --color-secondary-sea-mist-90: #c5dbd0;
  --color-secondary-sea-mist-100: #bfd7cb;
  --color-secondary-persian-green-20: #cceceb;
  --color-secondary-persian-green-40: #99d9d6;
  --color-secondary-persian-green-60: #66c6c2;
  --color-secondary-persian-green-70: #4dbdb8;
  --color-secondary-persian-green-80: #33b3ad;
  --color-secondary-persian-green-90: #1aaaa3;
  --color-secondary-persian-green-100: #00a099;
  --color-secondary-fountain-blue-20: #d8f1f3;
  --color-secondary-fountain-blue-40: #b1e3e7;
  --color-secondary-fountain-blue-60: #8bd6da;
  --color-secondary-fountain-blue-70: #77cfd4;
  --color-secondary-fountain-blue-80: #64c8ce;
  --color-secondary-fountain-blue-90: #50c1c8;
  --color-secondary-fountain-blue-100: #3dbac2;
  --color-secondary-chateau-green-20: #daefe1;
  --color-secondary-chateau-green-40: #b5dfc3;
  --color-secondary-chateau-green-60: #8fcfa6;
  --color-secondary-chateau-green-70: #7dc797;
  --color-secondary-chateau-green-80: #6abf88;
  --color-secondary-chateau-green-90: #58b779;
  --color-secondary-chateau-green-100: #45af6a;
  --color-secondary-silver-tree-20: #e3f1ea;
  --color-secondary-silver-tree-40: #c6e2d6;
  --color-secondary-silver-tree-60: #aad4c1;
  --color-secondary-silver-tree-70: #9ccdb7;
  --color-secondary-silver-tree-80: #8dc5ad;
  --color-secondary-silver-tree-90: #7fbea2;
  --color-secondary-silver-tree-100: #71b798;
  --color-secondary-calypso-20: #d2e0e6;
  --color-secondary-calypso-40: #a5c2cd;
  --color-secondary-calypso-60: #79a3b3;
  --color-secondary-calypso-70: #6294a7;
  --color-secondary-calypso-80: #4c859a;
  --color-secondary-calypso-90: #35758e;
  --color-secondary-calypso-100: #1f6681;
}
